/*Reusable Component*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lobster", Cyreal;
  
  }
  
  html{
    background-color: rgb(255, 255, 255);
    color: rgb(7, 6, 6);
    font-family: "Lobster" , Arial;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    }
  
    img{
      background-color: #d4d4d4;
    }
  .nav-bar{
    top: -10px;
    margin: 0 auto;
    position: relative;
    left: 55px;
    word-spacing: normal;
    width: 1140px;
    display: inline-block;
      
  }
  .main-nav{
    padding-right: -2%;
    float: right;
    list-style-type: none;
    margin-top: -120px;
    font-size: 23px;
  }
  
  /*
  color for btn link nav: #ea2027
  */
  
  .btn:link,
  .btn:visited,
  input[type="submit"]{
    position: relative; top: 20px;
    display: inline-block;
    padding: 10px 20px; /*top right bottom left*/
    font-weight: 200;
    text-decoration: none;
    border-radius: 50px;
  }
  
  .btn-full:link,
  .btn-full:visited,
  input[type="submit"]
  {
    color: rgb(0, 0, 0);
    border: 1px solid #ffffff;
    background-color: #ea2027;
    margin-right: 5px;
  }
  
  .btn-ghost:link,
  .btn-ghost:visited{
    background-color: #ffffff;
    color: #000000;
  }
  .btn-full:hover{
    background-color: #000000;
  }
  input[type="submit"]:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(240, 240, 240);
  }
  
  .btn-ghost:hover,
  .btn-ghost:active{
    background-color: #000000;
    color: rgb(255, 255, 255);
  }
  /*----------------------------*/
  /*-----Logo&navigation--------*/
  /*----------------------------*/
  
  
  .main-nav li {
    display: inline-block;
    margin-left: 30pxx;
  }
  .main-nav li a{
    padding: 8px, 0;
    color: #000102;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 90%; /*20 * 0.9 = 18.0*/
    text-decoration: none;
  }
  .logo{
    height: 150px;
    width: auto;
    float: left;
    margin-top: 30px;
    border-radius: 10%;
  }
  .row{
    max-width: 1140px;
    margin: 0 auto;
  }
/*------------------------------*/
/*----------Client Testimonials---------/
/*------------------------------*/
.client-testimonials{
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.8));
  background-size: cover;
  color: #fff;
  /* background image cool effects with css properties*/
  background-attachment: fixed;
}
cite{
  font-size: 90%;
  display: block;
  margin-top: 30px;
}

cite img{
  height: 45px;
  border-radius: 50%;
  margin-right: 15px;
}
blockquote{
  font-size: 30px;
  padding: 2%;
  font-style: italic;
  line-height: 160%;
  margin-top: 40px;
  position: relative;
}

blockquote:before{
  content: "\201C";
  font-size: 600%;
  display: block;
  position: absolute;
  top: -5px;
  left: -60px;
}
section{
  padding: 90px 0;
}
h2{
  font-size: 250%;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 20px;
  text-align: center;
}
h2:after{
  display: block;
  content:"";
  width: 100px;
  height: 2px;
  background-color: red;
  margin: 0 auto;
  margin-top: 20px;
}
